extends layout
block content
    include _includes/sharedHTMLfunctions
    .grid-page
        .header(style="padding: 0px 0.8rem;")
            a(href="/" style="text-decoration: none;")
                h5(style="color: white; display: flex; padding-left: 0px;").no-select 🔮
            h5(style="color: white; margin-left: 0px; font-weight: 600;") Vidente
            | &nbsp;
            h6(style="margin-left: 0.5rem; justify-contents: left; font-weight: 300") About
            h6(style="font-weight: 300") Profile
            h6(style="font-weight: 300") Logout
                
        .menu-header
            .mh-contents
                h6 Groups
                | &nbsp; &nbsp;
                button(href="" ontouchstart="")
                    span New Group
            .border-bottom

        .menu
            .menu-contents
                - var longList = false
                - var groupCount = 2

                    .strapline.strapline-short(id="strapline-short")
                        - if(groups)
                            +printGroups(groupCount)
                            - if(groups.groupsArray.length > groupCount)
                                    - longList = true
                        
                        +printExtraStrapline(groupCount)
      
                    - if(longList)
                        .strapline.strapline-long
                            - var groupCount = 11
                            +printGroups(groupCount)
                            +printExtraStrapline(groupCount)

        .headline
            .headline-contents
                | &emsp;
                h6 Group 1
                | &nbsp; &nbsp;
                .button-curved(href="" ontouchstart="")
                    span
                        .glyph-add
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="glyph-add" aria-hidden="true")
                                path(d="M15.169 21.24v-4.423h-4.387a.824.824 0 01-.818-.813c0-.448.379-.821.818-.821h4.387V10.76c0-.44.38-.796.827-.796.447 0 .827.356.827.796v4.423h4.395c.447 0 .818.373.818.821a.82.82 0 01-.818.813h-4.395v4.423c0 .431-.38.796-.827.796-.447 0-.827-.365-.827-.796z")
                        //- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="glyph-add" aria-hidden="true"><path d="M15.169 21.24v-4.423h-4.387a.824.824 0 01-.818-.813c0-.448.379-.821.818-.821h4.387V10.76c0-.44.38-.796.827-.796.447 0 .827.356.827.796v4.423h4.395c.447 0 .818.373.818.821a.82.82 0 01-.818.813h-4.395v4.423c0 .431-.38.796-.827.796-.447 0-.827-.365-.827-.796z"></path></svg>
                    span Add Label
                
            .border-bottom

            span(style="display: flex; align-contents: center; margin-top: .35rem; margin-bottom: .35rem;")
                .pagination-button.no-select(ontouchstart="")= "<<"
                .pagination-button.no-select(ontouchstart="")= "<"
                | &nbsp; &nbsp;
                span(style="display: flex; font-size: .85rem;").noselect= "1 of 2"
                | &nbsp; &nbsp;
                .pagination-button.no-select(ontouchstart="")= ">"
                .pagination-button.no-select(ontouchstart="")= ">>"
    

        .contents-grid
            - for(i = 1; i <= 8; i++)
                .card(style=`background:${label.color}`)
                    b(style="margin: 0; padding: 0;")= `iPhone ${i}`
                    each property in label.image
                        | !{property}
                    //- span
                    //-     | !{label.text}
                    //- div(style="display: flex; align-self: flex-end; margin-right: 10px; margin-top: 0; line-height: 0.7rem;")= "⛔"

            //- TODO: use controller
            //- .card 
            //-     b= label.name
            //-     each property in label.image
            //-         | !{property}
        .footer
            span © Copyright 2020 - Jorge Euceda
