extends layout
block content
  include _includes/sharedHTMLfunctions

  //- h1= title
  //- p Welcome to #{title}

  // page headerthat fills the entire width of the screen
  .row.banner
    .col-12
      // = signifies that the following content is buffered code,
      // in this case, a JavaScript object.
      h1= pageHeader.title
        // #{} delimiters are used to insert data into a 
        // specific place, such as part of a piece of text.
        small &nbsp;#{pageHeader.strapline}

  .row
    // container for the list of locations, spanning all 12
    // columns on extra-small and small devices, and 8 columns
    // on medium devices and larger
    .col-12.col-md-8
      // Adds a div to the main content area,
      // and has it display an error message if one 
      // is sent
      .error= message
      
      each location in locations
        .card
          .card-block
            h4 
              // pulls unique location id from object and
              // appends it to the link for the Details page
              a(href=`/location/${location.id}`)= location.name
              small.desktopRating &nbsp;
                // calling output rating (pug mixin function)
                // display rating in a manner optimized for desktops
                - if(is_desktop || is_tablet)
                  +outputRating(location.rating)

              // use bootstrap badge helper class to
              // display the distance away.
              - if(is_desktop || is_tablet)
                span.badge.badge-pill.badge-default.float-right= location.distance
            // display rating in a manner optimized for phones
            - if(is_phone)
              p.mobileSection &nbsp;
                  +outputRating(location.rating)
                  | &nbsp; &nbsp;
                  span.badge.badge-pill.badge-default= location.distance
            p.adress= location.address
            .facilities
              // loops through a nested array to output facilities
              // for each location!
              each facility in location.facilities
                span.badge.badge-warning= facility
                small
                  small
                    | &nbsp;
        p

    // container for secondary or sidebar information, spanning
    // all 12 columns on extra-small and small devices, and 4 
    // columns on medium devices and larger
    .col-12.col-md-4
      p.lead Looking for Wi-Fi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let loc8r help you find the place you're looking for.
      