// uses FontAwesome icons to output star rating
mixin outputRating(rating)
  //actual stars
  - for(let i = 1; i <= rating; i++)
    i.fas.fa-star
  //empty stars
  //Note no longer uses fa-star-o to process 
  - for(let i = rating; i < 5; i++)
    i.far.fa-star


mixin formatDate(dateString)
  // converts the date provided from a string 
  // to a date object
  - const date = new Date(dateString);
  // sets up array values for the names of the months
  - const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  // uses javascript data methods to extract
  // and convert the required parts of the date
  - const d = date.getDate();
  - const m = monthNames[date.getMonth()];
  - const y = date.getFullYear();
  - const output = `${d} ${m} ${y}`;
  // puts the parts back together in the desired format
  // and renders output
  =output

mixin printLabel(label)
  svg#barcode
    script.
      JsBarcode("#barcode", "1234", {
        format: "CODE39", 
        lineColor: "black", 
        width: 2, 
        height: 50, 
        font: "Helvetica", 
        displayValue: true, 
        text: `!{label}`, 
        textPosition: "bottom"
      });


mixin printGroups(it) 
  - for(var i = 0; i <= it - 1; i++)
      - if(groups.groupsArray[i] == groups.favorite)
          div
              a(href="https://google.com")= groups.groupsArray[i]
      - else
          p= groups.groupsArray[i]

mixin printExtraStrapline(groupCount)
  - if(groupCount < 3)
    .border-bottom(style="margin-top: 0.25rem; margin-bottom: 0.50rem")
    p.strapline-extra
      span(style="font-size: 1rem; font-weight: 800; color: black;").no-select= `+${groups.groupsArray.length - groupCount} Groups ✨`
      | &nbsp;  
      a(style='color: #007AFF; text-decoration: none; font-weight: 800;' href="google.com")= "Expand ↗"

  - else
    .border-bottom(style="margin-top: 0.25rem; margin-bottom: 0rem")

    p.strapline-extra(style="margin-top: 0.5rem;")
      - if(groups.groupsArray && (groups.groupsArray.length > 13))
          span(style="font-size: 1rem; font-weight: 800; color: black;").no-select= `+${groups.groupsArray.length - groupCount} Groups ✨`
          | &nbsp;  
          a(style='color: #007AFF; text-decoration: none; font-weight: 800;' href="google.com")= "Expand ↗"
      - else
          a(style='color: #007AFF; text-decoration: none; font-weight: 800;' href="google.com")= "Expand ↗"